.sidebar {
  width: 92px;
  min-width: 92px;
  background-color: #1A2744;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  position: relative;
  z-index: 40;
}

.menu-item {
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all 0.2s;
  border-radius: 8px;
  position: relative;
}

.menu-item:hover,
.menu-item-active {
  background: rgba(255, 255, 255, 0.1);
}

.menu-item svg {
  display: block;
  margin-bottom: 0;
}
.logo-top {
  width: 80px;
  height: 60px;
  object-fit: contain;
  margin: 10px;
}

.logo-bottom {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: 85px;
}
